.poker-button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px; /* Add some spacing between buttons */
    width: 150px;
  }

  .buttons-container {
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: center; /* Center align the buttons horizontally */
    align-items: center; /* Center align the buttons vertically */
    position: absolute;
    top: 95%; /* Position at the top of the page */
    left: 0; /* Align to the left of the page */
    right: 0; /* Align to the right of the page */
  }